body
{
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: rgb(228, 216, 216);
    h1 { font-family: arial; };
    h1 { font-size: 30px; };

    h2 { font-size: 30px; };
    h2 { font-family: arial; };
     
    h3 { font-family: arial; };
    h3 { font-size: 30px; };

    p { font-family: arial; };
    p { font-size: 16px; };
    p { text-decoration: none; }
    p { text-align: justify: center }

    li { color: rgb(255, 0, 0); }
    
    a { color: rgb(255, 0, 0); }
}
