body
{
  background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: rgb(228, 216, 216);
    h1 { font-family: arial; };
    h1 { font-size: 30px; };
    h1 { text-align: center;};

    h2 { font-size: 30px; };
    h2 { font-family: arial; };
     
    h3 { font-family: arial; };
    h3 { font-size: 30px; };

    p { font-family: arial; };
    p { font-size: 16px; };
    p { text-decoration: none; };
    p { text-align: justify: center };

    li { color: rgb(255, 0, 0); };
    
    a { color: rgb(255, 0, 0); };
    a { text-decoration: none; };
}
